<!DOCTYPE html>
<html>
  <head>
    <%- include('../layout/head') %>
  </head>
  <body>
    <%- include('../layout/header') %>
    <form>
      <input type="text" name="title" placeholder="Book Title" value="<%= title %>" />
      <input type="submit" value="Search" />
    </form>

    <% books.forEach(book => { %>
      <h2><%= book.title %></h2>
      <img src="<%= book.image_url %>" width="100" />
    <% }) %>
  </body>
</html>